.toolbar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color:rgba(255, 254, 254);
    height: 80px;
    z-index: 2;
}

.toolbar-navigation {
    display: flex;
    height: 80px;
    margin: 0;
    padding: 0 20px;
    justify-content: center;
    animation: fadeIn ease 1.5s;

}

p {
  color: #145374;
}

p:hover {
  color: #ff7315;
}

.img-logo {
    height: 70px;
    width: auto;
}
.logo {
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  justify-content: center;
  animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}





.toolbar-navigation-items {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 600px;
}

.toolbar-navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  
}


.control-li {
    width: 100px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.home-img {
    height: 40px;
    width: 40px;
    background-image: url('../../img/home.png');
    background-size: cover;
}

.gallery-img {
    height: 40px;
    width: 40px;
    background-image: url('../../img/gallery.png');
    background-size: cover;
}
.design-img {
    height: 40px;
    width: 40px;
    background-image: url('../../img/designing.png');
    background-size: cover;
}

.newsletter-icon {
    height: 40px;
    width: 40px;
    background-image: url('../../img/newsletter.png');
    background-size: cover;
}

.toolbar-navigation-items a {
   color: #145374;
   text-decoration: none;
}

.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active {
    color: #ff7315;
}

.toolbar-toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

/* hr {
    margin: 0;
     width: 100%;
    border: solid 1px #145374;
} */

@media (max-width: 768px) {
    .toolbar-navigation-items {
        display: none;
    }
    .logo {
        display: none;
    }
    .spacer {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar-toggle-button {
        display: none;
    }
}